# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

*.sh
*.bat
*.cmd
acorn
ansi-html
atob
autoprefixer
blocking-proxy
browserslist
build-optimizer
cssesc
errno
esparse
esvalidate
image-size
import-local-fixture
ivy-ngcc
jasmine
js-yaml
jsesc
json5
JSONStream
karma
karma.conf.js
lessc
loose-envify
miller-rabin
mime
mkdirp
multicast-dns
ng
ng-xi18n
ngc
parser
protractor
regjsparser
rimraf
sass
semver
sha.js
sshpk-conv
sshpk-sign
sshpk-verify
stylus
terser
tree-kill
ts-node
tsc
tslint
tsserver
uuid
webdriver-manager
webpack
webpack-dev-server
which
ansi-html1
browserslist1
