.receiver-area, .data-area {
    margin: auto;
    width: 100%;
    max-width: 500px;

    .data-form {
        ion-item {
            border: 2.5px solid #eeeeee;
            border-radius: 5px;
        }
    }
}

.receiver-area {
    margin-bottom: 20px;
}

.receiverid-area {
    background-color: #f5f5f5;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 30px;

    .id-title {
        color: grey;
        padding: 5px;
        border-bottom: 2px solid #e0e0e0;
    }

    .id-value {
        padding: 7px;
    }
}

.data-table-area {
    margin-top: 30px;

    .data-table {
        ion-row.table-header {
            background-color: #f5f5f5;
        }

        ion-row.table-item {
            background-color: #fcfcfc;
        }

        ion-col:not(:last-child) {
            border-right: 1.5px solid #e5e5e5;
        }
    }
}

.submit-btn {
    margin-bottom: 20px;
}