ion-back-button {
    display: block;
}

.receiver-area, .data-area {
    margin: auto;
    width: 100%;
    max-width: 500px;

    .login-form {
        ion-item {
            --padding-start: 0px;
            --padding-end: 0px;
            --inner-padding-end: 0px !important;
        }

        ion-item:not(:first-child) {
            margin-top: 10px !important;
        }

        ion-button {
            margin: 20px 0px 0px !important;
        }
    }
}

.data-area {
    margin-top: 30px;
}