<ion-content>
  <div class="login-area">
    <div class="ion-text-center">
      <h3>Login</h3>
    </div>
    <form class="custom-form login-form" #form="ngForm" (ngSubmit)="login(form.value)">
      <ion-item lines="none" class="valid-check">
        <ion-input name="username" type="text" placeholder="Username" ngModel required></ion-input>
      </ion-item>
      <ion-item lines="none" class="valid-check">
        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
      <ion-button  size="medium" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
    </form>
    <div class="ion-text-center">
      <ion-text>Not yet signed up? <a href="/register" routerDirection="forward">Register</a> here.</ion-text>
    </div>
  </div>
</ion-content>