<ion-content>
  <div class="login-area">
    <div class="ion-text-center">
      <img src="assets/icon/logo.png" class="img-logo">
      <h3 class="font-blue">Signup with QBAND</h3>
    </div>
    <form class="custom-form login-form" #form="ngForm" (ngSubmit)="register(form.value)">
      <ion-item lines="none" class="valid-check">
        <ion-input name="fullname" type="text" placeholder="Full Name" ngModel required></ion-input>
      </ion-item>
      <ion-item lines="none" class="valid-check">
        <ion-input name="phone_number" type="tel" pattern="[0-9]{9,}" placeholder="Phone Number" ngModel required></ion-input>
      </ion-item>
      <ion-item lines="none" class="valid-check">
        <ion-input name="username" type="text" placeholder="Username" (ionChange)="onKeyUsername($event)"
        pattern="[a-zA-Z0-9]{5,}"
        ngModel required></ion-input>
      </ion-item>
      <ion-text class="error small-text" *ngIf="usernameStatus==='INVALID'">Must contain at least 5 characters.</ion-text>
      <ion-item lines="none" class="valid-check">
        <ion-input name="password" type="password" placeholder="Password" (ionChange)="onKeyPassword($event)"
        pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" 
        ngModel required></ion-input>
      </ion-item>
      <ion-text class="error small-text" *ngIf="passwordStatus==='INVALID'">Must contain at least one number and uppercase or lowercase letters, and at least 8 characters.</ion-text>
      <ion-item lines="none" class="cpassword-item" [ngClass]="isPasswordsMatched ? 'valid-item' : 'invalid-item'">
        <ion-input name="confirm_password" type="password" placeholder="Confirm Password" (ionChange)="onKeyConfirmPassword($event)" ngModel required></ion-input>
      </ion-item>
      <ion-button size="medium" type="submit" [disabled]="form.invalid || !isPasswordsMatched" expand="block">Register</ion-button>
    </form>
    <div class="ion-text-center">
      <ion-text>Already signed up? <span class="font-blue" (click)="goToLogin()">Login</span></ion-text>
    </div>
  </div>
</ion-content>