ion-content {
    --background: #f5f5f5;
}

.no-connection {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;

    img {
        width: 150px;
    }

    ion-button {
        margin-top: 10px;
    }
}