<ion-header>
  <ion-toolbar color="primary">
    <ion-title>QBand</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="table-container">
    <ion-grid>
      <ion-row class="table-header ion-margin-bottom">
        <ion-col size="2" size-sm="1">
          <div>
            Receiver ID
          </div>
        </ion-col>
        <ion-col size="4" size-sm="6">
          <div>
            Address
          </div>
        </ion-col>
        <ion-col class="col-nested" size="6" size-sm="5">
          <ion-row class="col-inner-item">
            <ion-col size="8" size-sm="9">
              <div>
                Name
              </div>
            </ion-col>
            <ion-col class="ion-text-center" size="4" size-sm="3">
              <div>
                Presence
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div *ngIf="receiversArray!==undefined && receiversArray?.length>0; else noRecords">
        <div *ngFor="let item of receiversArray; let i = index">
          <ion-row class="table-item ion-margin-vertical ion-activatable ripple-parent" ion-long-press (pressed)="showDataOptions(item.receiver_id)">
            <ion-col size="2" size-sm="1">
              <div>
                {{item.receiver_id}}
              </div>
            </ion-col>
            <ion-col size="4" size-sm="6">
              <div>
                {{item.address}}
              </div>
            </ion-col>
            <ion-col class="col-nested" size="6" size-sm="5">
              <ion-row class="col-inner-item" *ngFor="let person of item.persons; let j = index">
                <ion-col size="8" size-sm="9">
                  <div>
                    {{person.name}}
                  </div>
                </ion-col>
                <ion-col class="ion-text-center" size="4" size-sm="3">
                  <div class="font-green" *ngIf="person.is_person_present==1">
                    Yes
                  </div>
                  <div class="font-red" *ngIf="person.is_person_present==0">
                    No
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-row>
        </div>
      </div>
      <ng-template #noRecords>
        <ion-row class="table-item ion-margin-vertical" *ngIf="receiversArray?.length==0">
          <ion-col class="ion-text-center">
            <span>No records found.</span>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-grid>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openNewEntryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
