/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.login-area {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;

    .login-form {
        padding: 20px;

        ion-item {
            border: 1.5px solid #eeeeee;
            border-radius: 5px;
        }
    }

    a {
        text-decoration: none;
    }
    
    ion-item.ion-valid.ion-dirty.valid-check {
        border: 1.5px solid #42A948;
    }
      
    ion-item.ion-invalid.ion-dirty.valid-check {
        border: 1.5px solid #a94442;
    }
}

.custom-form {
    ion-item {
        ion-select {
            --padding-start: 0px;
        }
    }
    
    ion-item:not(:first-child) {
        margin-top: 10px !important;
    }

    ion-button {
        margin: 20px 0px 0px !important;
    }
}

.font-green {
    color: green;
}

.font-red {
    color: red;
}

.table-container {
    ion-grid {
        ion-row.table-item, .table-header {
            background-color: #FFF;
            border: 1px solid grey;
            border-radius: 5px;
            
            ion-col {
                padding: 10px;
            }
            
            ion-col:not(:last-child) {
                border-right: 1px solid #e5e5e5;
            }
            
            ion-col.col-nested {
                padding: 0px;
                
                ion-row.col-inner-item:not(:last-child) {
                    border-bottom: 1px solid #e5e5e5;
                }
            
                ion-col:not(:last-child) {
                    border-right: 1px solid #e5e5e5;
                }
            }
        }

        ion-row.table-header {
            font-weight: bold;

            ion-col.col-nested {
                ion-row {
                    height: 100%;
                }
            }
        }
    }
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

ion-toolbar {
    --min-height: 50px;
}

ion-modal {
    --width: 100% !important;
    --height: 100% !important;
}